!
service routing protocols model multi-agent
!
{# Set MLAG IP and Peer IP based on MLAG 'Odd' or 'Even' varible #}
{% if underlay[inventory_hostname]['MLAG'] == 'Odd' %}
{% set mlag_ipv4 = '192.168.255.1/30' %}
{% set mlag_peer = '192.168.255.2' %}
{% elif underlay[inventory_hostname]['MLAG'] == 'Even' %}
{% set mlag_ipv4 = '192.168.255.2/30' %}
{% set mlag_peer = '192.168.255.1' %}
{% endif %}
{# This creates the MLAG configuration #}
spanning-tree mode mstp
no spanning-tree vlan-id 4094
!
vlan 4094
  trunk group MLAGPEER
!
interface Vlan4094
  description MLAG PEER LINK
  ip address {{ mlag_ipv4 }} 
!
interface Port-Channel10
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  switchport trunk group MLAGPEER
!
mlag configuration
  domain-id MLAG
  local-interface Vlan4094
  peer-address {{ mlag_peer }} 
  peer-link Port-Channel10
!
{# This configures the Ethernet1 and 2 #}
{% for num in range(1,3) %}
interface Ethernet{{num}}
  description MLAG PEER LINK - LEAF
  switchport mode trunk
  channel-group 10 mode active
!
{% endfor %}
{# This configures the remaining leaf interfaces #}
{% for intf, intf_attr in host_intfs.items() %}
interface {{ intf }}
  ip address {{ intf_attr['ipv4'] }}/{{ intf_attr['mask'] }}
{% if 'loopback' not in intf %}
  no switchport
  mtu 9214
{% endif %}
!
{% endfor %}
{# Split hostname to identify DC #}
{% set dc = inventory_hostname.split('-')[1] %}
{# Print prefix list relevant to DC #}
ip prefix-list LOOPBACK seq 10 permit {{ underlay['global'][dc]['lo0'] }} eq 32
ip prefix-list LOOPBACK seq 20 permit {{ underlay['global'][dc]['lo1'] }} eq 32
!
route-map LOOPBACK permit 10
  match ip address prefix-list LOOPBACK
!
router bgp {{ host_bgp['ASN'] }}
  router-id {{ host_intfs['loopback0']['ipv4'] }}
  bgp asn notation asdot
  bgp log-neighbor-changes
  no bgp default ipv4-unicast
  timers bgp 5 15
  maximum-paths 8 ecmp 8
  distance bgp 20 200 200
  !
  neighbor EBGP_SPINE_UNDERLAY peer group
  neighbor EBGP_SPINE_UNDERLAY remote-as {{ underlay['global'][dc]['spine_ASN'] }}
  neighbor EBGP_SPINE_UNDERLAY send-community
  neighbor EBGP_SPINE_UNDERLAY maximum-routes 12000
  neighbor IBGP_LEAF_PEER peer group
  neighbor IBGP_LEAF_PEER remote-as {{ host_bgp['ASN'] }}
  neighbor IBGP_LEAF_PEER next-hop-self
  neighbor IBGP_LEAF_PEER maximum-routes 12000
{# If DCI Peers Exist, Print Peer Group Statements #}
{% set dci_peers = host_bgp['DCI-peers'] %}
{% if dci_peers is defined %}
  neighbor EBGP_DCI_UNDERLAY peer group
  neighbor EBGP_DCI_UNDERLAY remote-as {{ host_bgp['DCI-ASN'] }}
  neighbor EBGP_DCI_UNDERLAY send-community
  neighbor EBGP_DCI_UNDERLAY maximum-routes 12000
{% for peer in host_bgp['DCI-peers'] %}
  neighbor {{ peer }} peer group EBGP_DCI_UNDERLAY
{% endfor %}
{% endif %}
{# Print eBGP neighbor IPs and Peer Group Statements #}
{% for peer in host_bgp['spine-peers'] %}
  neighbor {{ peer }} peer group EBGP_SPINE_UNDERLAY
{% endfor %}
  neighbor {{ mlag_peer }} peer group IBGP_LEAF_PEER
  redistribute connected route-map LOOPBACK
  !
  address-family ipv4
    neighbor EBGP_SPINE_UNDERLAY activate
    neighbor IBGP_LEAF_PEER activate
{% if dci_peers is defined %}
    neighbor EBGP_DCI_UNDERLAY activate
{% endif %}
  !
!

